Adafruit-Blinka==8.66.0
adafruit-circuitpython-ads1x15==2.4.4
Flask==3.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==2.0.0
MarkupSafe==1.1.1
numpy==2.3.3
paho-mqtt==1.5.1
pyftdi==0.52.9
pyserial==3.5
pyusb==1.1.1
RPi.GPIO==0.7.1
scipy==1.16.2
